<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Brand Logo -->
        <a href="/" class="navbar-brand">DemoCNC Asgard</a>

        <!-- Hamburger Toggle Btn -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Header Navbar (Collapse Area) -->
        <div id="navbar-header" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <!-- .nav-item -->
                <li class="nav-item active">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <!-- .nav-item -->
                <li class="nav-item">
                    <a href="#aboutus" class="nav-link">About Us</a>
                </li>
                <!-- .nav-item dropdown -->
                <li class="nav-item dropdown">
                    <a href="#" id="dropdown-blog" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Blog
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-blog">
                        <div class="container">
                            <div class="row">
                                <div v-for="mainCate in blogCategories" :key="mainCate.id" class="col-12 col-lg-3">
                                    <p class="main-cate">
                                        <a :href="mainCate.permalink">{{ mainCate.title }}</a>
                                    </p>
                                    <p class="sub-cate" v-for="subCate in mainCate.children" :key="subCate.id">
                                        <a :href="subCate.permalink">{{ subCate.title }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- .nav-item dropdown -->
                <li class="nav-item dropdown">
                    <a href="#" id="dropdown-news" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        News
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown-news">
                        <div class="container">
                            <div class="row">
                                <div v-for="mainCate in newsCategories" :key="mainCate.id" class="col-12 col-lg-3">
                                    <p class="main-cate">
                                        <a :href="mainCate.permalink">{{ mainCate.title }}</a>
                                    </p>
                                    <p class="sub-cate" v-for="subCate in mainCate.children" :key="subCate.id">
                                        <a :href="subCate.permalink">{{ subCate.title }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
export default {
    name: 'HeaderMenu',
    data() {
        return {
            apiEndpoint: {
                blogCategory: window.baseApiEndpoint + 'content/blog/categories',
                newsCategory: window.baseApiEndpoint + 'content/news/categories',
            },
            blogCategories: [],
            newsCategories: []
        }
    },
    mounted() {
        this.$nextTick(function () {
            axios.get(this.apiEndpoint.blogCategory)
                .then(function(response){
                    if (response.status === 200) {
                        this.blogCategories = response.data.data;
                        // console.log(this.blogCategories);
                    }
                }.bind(this))
                .catch(function(err){
                    console.log('Fetch Error :-S', err);
                });
            axios.get(this.apiEndpoint.newsCategory)
                .then(function(response){
                    if (response.status === 200) {
                        this.newsCategories = response.data.data;
                        // console.log(this.newsCategories);
                    }
                }.bind(this))
                .catch(function(err){
                    console.log('Fetch Error :-S', err);
                });
        });
    }
};
</script>

<style scoped>
/* ==================== Main CSS ==================== */
.navbar .dropdown-menu {
    border: none;
    background: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
    /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
        padding-top:0px;
        padding-bottom:0px;
    }
    /* adds some margin below the link sets  */
    .navbar .dropdown-menu div[class*="col"] {
        margin-top:1rem;
        margin-bottom:1rem;
    }
    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
    .navbar .nav-item {
        padding:.5rem .5rem;
        margin:0 .25rem;
    }

    /* makes the dropdown full width  */
    .navbar .dropdown {
        position:static;
    }
    .navbar .dropdown-menu {
        width:100%;
        left:0;
        right:0;
        /*  height of nav-item  */
        /*top:45px;*/
        top: 100%;
        background-color:rgba(230, 230, 230, 0.9);

        display:block;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;
    }

    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
        display:block;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.3s linear;
    }
}
/* ==================== Main CSS ==================== */

/* ==================== Customized CSS ==================== */
.navbar .dropdown-menu a:link, .navbar .dropdown-menu a:visited {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:active {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}
.navbar .dropdown-menu p.sub-cate {
    padding-left: 1rem;
}

@media screen and (min-width: 992px) {
    .navbar .dropdown-menu {
        background-color:rgba(230, 230, 230, 0.9);
    }
    .navbar .dropdown-menu .container {
        min-height: 200px;
    }
    .navbar .dropdown-menu p.main-cate a {
        font-weight: bold;
    }
    .navbar .dropdown-menu p.sub-cate {
        padding-left: 1rem;
    }
    .navbar .dropdown-menu a:link, .navbar .dropdown-menu a:visited {
        color: #534741;
    }
    .navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:active {
        color: #867e7a;
    }
}
/* ==================== Customized CSS ==================== */
</style>